<p id="notice"><%= notice %></p>

<h2>
  <%= @task.name %>
</h2>

<p>
  <%= @task.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>


<p>
  <strong>Assigned to:</strong>
  <%= @task.user.username %>
</p>

<h2>Comments</h2>
<% @task.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %>:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for [@work, @todo_list, @task, @task.comments.build] do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %> 
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'button right' %> 
  </div>
<% end %>