<h1>My ToDo List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= link_to todo_list.name, todo_list %></td>
        <td><%= todo_list.description %></td>
        <% if can? :update, todo_list %>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <% end %>
        <% if can? :destroy, todo_list %>
        <td><%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @todo_lists %>