<p id="notice"><%= notice %></p>

<h2>
  <%= @todo_list.name %>
</h2>

<p>
  <%= @todo_list.description %>
</p>

<%= link_to 'Edit Todo List',  edit_work_todo_list_path(params[:work_id], @todo_list), :class => "button" %>

<h3>Related Task:</h3>
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Assign to</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @task.each do |task| %>
      <tr>
        <td><%= link_to task.name, work_todo_list_task_path(params[:work_id], params[:id], task.id) %></td>
        <td><%= link_to task.user.username, user_path(task.user_id) %></td>
        <td><%= task.due_date.to_s + ' days left' %></td>
        <td><%= task.status ? "On Progress" : "Completed" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @task %>

<%= link_to 'New Task', new_work_todo_list_task_path(params[:work_id], params[:id]), :class => "button" %>