<p id="notice"><%= notice %></p>

<h2>
  <%= @todo_list.name %>
</h2>

<p>
  <%= @todo_list.description %>
</p>

<%= link_to 'Edit Project',  edit_work_todo_list_path(params[:work_id], @todo_list), :class => "button" %>

<h3>Task:</h3>
<ul class="disc">
<% @task.each do |task| %>
  <li><%= link_to task.name, work_todo_list_task_path(params[:work_id], params[:id], task.id) %> </li>
<% end %>
</ul>