<p id="notice"><%= notice %></p>

<h2>
  <%= @work.title %>
</h2>

<p>
  <strong>Project Owner:</strong>
  <%= @work.user.name %>
</p>

<p>
  <%= @work.description %>
</p>

<%= link_to 'Edit Project', edit_work_path(@work), :class => "button" %>

<h3>Todo List:</h3>
<ul class="disc">
<% @todo_list.each do |todo| %>
  <li><%= link_to todo.name, work_todo_list_path(todo.work.id, todo.id) %> [7/11 task resolved] </li>
<% end %>
</ul>

<%= form_for [@work, TodoList.new] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :work_id, value: params[:id] %> 
  </div>
  <div class="actions">
    <%= f.submit "Add Todo List", :class => "button" %>
  </div>
<% end %>

<h3>Project Contributor:</h3>
<ul class="disc">
<% @contributor.each do |contributor| %>
  <li><%= link_to contributor.user.name, user_path(contributor.user_id) %> | 
    <%= link_to 'Delete', work_contributor_path(contributor.work_id, contributor.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ul>

<%= form_for [@work, Contributor.new] do |f| %>
  <div class="field">
    <%= f.select(:user_id, @user.map { |u| [u.username, u.id] }) %>
  </div>
  <div class="field">
    <%= f.hidden_field :work_id, value: params[:id] %> 
  </div>
  <div class="actions">
    <%= f.submit "Add Contributor", :class => "button" %>
  </div>
<% end %>