<p id="notice"><%= notice %></p>

<h2>
  <%= @work.title %>
</h2>

<p>
  <%= @work.description %>
</p>

<p>
  <strong>Project Owner:</strong>
  <%= @work.user.name %>
</p>

<p>
  <strong>Project Contributor:</strong>
  <%= "Contributor1, Contributor2, Contributor3" %>
</p>

<p>
  <strong>Todo List:</strong>
  <%= "Contributor1, Contributor2, Contributor3" %>
</p>

<div class="form-actions right">
<% if can? :destroy, @work %>
  <%= link_to 'Edit Project', edit_work_path(@work), :class => "button" %>
  <%= link_to 'Add Todo List', new_todo_list_path, :class => "button" %>
  <%= link_to 'Add Contributor', new_work_contributor_path(@work), :class => "button" %>
  <% end %>
</div>

