<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @work.user.name %>
</p>

<% if can? :destroy, @work %>
<%= link_to 'Edit', edit_work_path(@work) %> | 
<% end %>
<%= link_to 'Back', works_path %>
