<p id="notice"><%= notice %></p>

<h2>
  <%= @work.title %>
</h2>

<p>
  <strong>Project Owner:</strong>
  <%= @work.user.name %>
</p>

<p>
  <%= @work.description %>
</p>

<%= link_to 'Edit Project', edit_work_path(@work), :class => "button" %>

<p>
<strong>Project Contributor:</strong>
  <% @contributor.each do |contributor| %>
    <%= link_to contributor.user.name, user_path(contributor.user_id) %>
    <%= link_to 'X', work_contributor_path(contributor.work_id, contributor.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<%= form_for [@work, Contributor.new] do |f| %>
  <div class="field col6">
    <%= f.select(:user_id, @user.map { |u| [u.username, u.id] }) %>
  </div>
  <div class="field">
    <%= f.hidden_field :work_id, value: params[:id] %> 
  </div>
  <div class="actions">
    <%= f.submit "Add Contributor", :class => "button" %>
  </div>
<% end %>

<h3>Todo:</h3>
<table>
  <thead>
      <th>Todo</th>
      <th>Task On Progress</th>
      <th>Task Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.each do |todo| %>
      <tr>
        <td><%= link_to todo.name, work_todo_list_path(todo.work.id, todo.id) %></td>
        <td><%= todo.tasks.where(:status => false).count %></td>
        <td><%= todo.tasks.where(:status => true).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [@work, TodoList.new] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :work_id, value: params[:id] %> 
  </div>
  <div class="actions">
    <%= f.submit "Add Todo", :class => "button" %>
  </div>
<% end %>