<h1>Manage User</h1>

<table>
  <thead>
    <tr>
      <th width="80">Username</th>
      <th width="150">Project Created</th>
      <th width="150">Contribution</th>
      <th width="150">Roles</th>
    </tr>
  </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user.id) %></td>
            <td><%= user.works.count %></td>
            <td><%= user.contributors.count %></td>
            <td><%= user.role %></td>
          </tr>
        <% end %>
      </tbody>
</table>

<%= paginate @users %>