<p id="notice"><%= notice %></p>

<p>
  <strong>Username</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Project created:</strong>
  <%= @user.works.count %>
</p>

<p>
  <strong>On Progress Task:</strong>
  <%= @user.tasks.where(:status => false).count %>
</p>

<p>
  <strong>Completed Task:</strong>
  <%= @user.tasks.where(:status => true).count %>
</p>

<p>
  <%= image_tag(@user.avatar_url) if @user.avatar? %>
</p>